body{
	 background-image:url("../../Media/ThemeIMGs/bg.jpg");
	 background-size: cover;
	 background-attachment: fixed;
}
#first{
	width:100%;
	height: 20vh;

}
#hope{
	color:blue;
	margin-left: 28%;
	text-decoration: underline;
	text-transform: uppercase;
}
#score{
	margin-left: 45%;
	margin-top: 3%;
}
#score1{
	margin-left: 1%;
	margin-top: 3%;
}
#score1 a{
	color: white;
	text-decoration: none;
}
#scroll{
	width:50%;
	margin:auto;
	height: auto;
	color:white;
	background-color:#802f08c4;
	opacity: 0.9;
	margin-top:2%;
	
	display: none;
	
}

#scroll h2{
	margin-left: 10%;

	font-size: 45px;


}
#scroll button{
	margin-left: 80%;
	margin-top: 6%;
}
#second{
	margin-top: 23%;
	height: 100%;
}
#second textarea{
	margin-left: 20%;
	background-color: white;
	border:2px solid black;
}
#second p{
	width:20px;
	height: 20px;
	background-color: red;
	display: inline-block;
}
#second h2{
	color: blue;
	font-weight: bolder
}
.checked{
	font-size: 30px;
	color:white

}
#a1{
	margin-left: 40%;
}
@media  screen and (max-width: 1000px) {
	#score {
		margin-left:37%;
		margin-top: 20px;;

		  
		}
		#hope{
			margin-left: 4%;
		}
		textarea{
			width:80%;
			height: 10vh;
		}
		#second h2{
			margin-top: 20%;
		}
	  }
.main-settings{
	min-height:70vh;
	height:auto;
	width:90vw;
	margin:auto;
	margin-top:12%;
	margin-bottom:100px;

}
.str{
	background-color:rgb(199, 211, 180)
}
.btn-brown{
	color: #fff;
    background-color: #980202;
    border-color: #980202;
}
.btn-brown:hover{
	color: #fff;
	background-color: #750000;
}

